<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="brand-text">РОСАТОМ</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown">
                        <span id="currentLang">🇷🇺 Русский</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" onclick="changeLanguage('ru'); return false;">ʀᴜ Русский</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeLanguage('en'); return false;">ᴇɴ English</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="btn btn-theme ms-2" onclick="toggleTheme()" id="themeBtn">
                        <span id="themeIcon">🌙</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
