<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список НКО - Администратор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rosatom-main.css') }}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <div class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">Список НКО</h1>
                    <a href="{{ url_for('admin_panel') }}" class="btn-secondary">Назад в панель</a>
                </div>
                <div class="admin-body">
                    {% if nko_list %}
                    {% for nko in nko_list %}
                        <div class="nko-card">
                            <div class="nko-logo">{{ nko.icon }}</div>
                            <div class="nko-content">
                                <span class="nko-category">{{ nko.category_name }}</span>
                                <h3 class="nko-title">{{ nko.name }}</h3>
                                <p class="nko-description"> {{ nko.description }}</p>
                                <p class="nko-address">📍 {{ nko.region_name }}, {{ nko.city_name }}, {{ nko.address }}</p>
                                <div class="nko-links">
                                    <a href="{{ nko.website }}" class="nko-link">🌐 Сайт</a>
                                    <a href="{{ nko.link_social_net }}" class="nko-link">📱 Соц. сеть</a>
                                    <button class="btn-admin btn-primary">Редактировать</button>
                                    <button class="btn-secondary">Удалить</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-organizations">Нет организаций для отображения</p>
                {% endif %}
                    
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
</body>
</html>

