<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Календарь событий - Добрые дела Росатома</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rosatom-main.css') }}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <div class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">Календарь событий</h1>
                    <p class="page-subtitle">Актуальные мероприятия и события в вашем городе</p>
                </div>

                <div class="calendar-container">
                    <div class="calendar-events">
                        {% for event in events %}
                        <div class="event-card" data-category="{{ event.category_id }}">
                            <span class="event-date">{{ event.date }}</span>
                            <h3 class="event-title">{{ event.title }}</h3>
                            <p class="event-organizer">Организатор: {{ event.organizer }}</p>
                            <p class="event-description">{{ event.description }}</p>
                            <p class="event-location">📍 {{ event.location }}</p>
                            <p class="event-start-time">Время начала: {{event.start_time}}</p>
                            <p class="event-end-time">Время окончания: {{event.end_time}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
