<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить НКО - Администратор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <div class="container">
            <div class="admin-content">
                <div class="admin-header">
                    <h1>Добавить НКО
                            <font  color="red">{{ error_msg }}</font >
                            <font  color="green">{{ succes_msg }}</font ></h1>
                    <a href="/nko" class="btn-secondary">Назад к списку</a>
                </div>
                <div class="admin-body">
                    <form class="admin-form" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="name">Название организации *</label>
                            <input type="text" id="name" name="name"
                                   minlength="2" maxlength="128" value="{{ form_data.name if form_data else '' }}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="category">Категория *</label>
                            <select id="category" name="category" required>
                                <option value="cat_id_0">Выберите категорию</option>
                                {% for n, c in cats_list %}
                                <option value="cat_id_{{n}}">{{c}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Описание *</label>
                            <textarea id="description" name="description" rows="4"
                                      minlength="10" maxlength="512"
                                      required>{{ form_data.description if form_data else '' }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="about">О нас *</label>
                            <textarea id="about" name="about" rows="6"
                                      minlength="10" maxlength="256"
                                      required>{{ form_data.about if form_data else '' }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="volunteer_activities">Что делают волонтёры в организации *</label>
                            <textarea id="volunteer_activities" name="volunteer_activities" rows="4"
                                      minlength="10" maxlength="512"
                                      required>{{ form_data.volunteer_activities if form_data else '' }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="address">Адрес *</label>
                            <input type="text" id="address" name="address"
                                   minlength="10" maxlength="128" value="{{ form_data.address if form_data else '' }}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="city">Город *</label>
                            <select id="city" name="city" required>
                                <option value="city_id_0">Выберите город</option>
                                {% for n, c, r in cities_list %}
                                <option value="city_id_{{n}}">{{c}}, {{r}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="email">Почта *</label>
                            <input type="email" id="email" name="email"
                                   minlength="5" maxlength="256" value="{{ form_data.email if form_data else '' }}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="phone">Номер телефона *</label>
                            <input type="tel" id="phone" name="phone"
                                   minlength="11" maxlength="15" value="{{ form_data.phone if form_data else '' }}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="social_media">Ссылка на основную соц.сеть</label>
                            <input type="url" id="social_media" name="social_media"
                                   value="{{ form_data.social_media if form_data else '' }}"
                            >
                        </div>

                        <div class="form-group">
                            <label for="website">Ссылка на веб-сайт</label>
                            <input type="url" id="website" name="website"
                            value="{{ form_data.website if form_data else '' }}"
                            >
                        </div>

                        <div class="form-group">
                            <label for="avatar">Аватарка организации</label>
                            <input type="file" id="avatar" name="avatar" accept="image/*">
                        </div>

                        <div class="form-actions">
                            <button type="submit" name="action" value="btn-create-nko">Добавить НКО</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
</body>
</html>
