<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НКО - Добрые дела Росатома</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nko.css') }}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <div class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">Некоммерческие организации</h1>
                    <p class="page-subtitle">Найдите организации по городу и направлению деятельности</p>
                    <a href="/nko/add" class="btn-more">Создать НКО</a>
                </div>

<!--                <div class="filters">-->
<!--                    <select class="filter-select">-->
<!--                        <option value="cat_id_0">Выберите категорию</option>-->
<!--                                {% for n, c in cats_list %}-->
<!--                                <option value="cat_id_{{n}}">{{c}}</option>-->
<!--                                {% endfor %}-->
<!--                    </select>-->
<!--                    <input type="text" class="search-input" placeholder="Поиск по названию...">-->
<!--                </div>-->

                {% if nko_list %}
                    {% for nko in nko_list %}
                        <div class="nko-card">
                            <div class="nko-logo">{{ nko.icon }}</div>
                            <div class="nko-content">
                                <span class="nko-category">{{ nko.category_name }}</span>
                                <h3 class="nko-title">{{ nko.name }}</h3>
                                <p class="nko-description"> {{ nko.description }}</p>
                                <p class="nko-address">📍 {{ nko.region_name }}, {{ nko.city_name }}, {{ nko.address }}</p>
                                <div class="nko-links">
                                    <a href="{{ nko.website }}" class="nko-link">🌐 Сайт</a>
                                    <a href="{{ nko.link_social_net }}" class="nko-link">📱 Соц. сеть</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-organizations">Нет организаций для отображения</p>
                {% endif %}
                </div>
            </div>
<!--        </div>-->
    </main>

    {% include 'components/footer.html' %}

    <script src="../static/js/script.js"></script>
</body>
</html>
