<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НКО на модерации - Модератор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rosatom-main.css') }}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <div class="container container_nko">
            <div class="admin-content">
                <div class="admin-header">
                    <h1>НКО на модерации</h1>
                    <a href="{{ url_for('admin_panel') }}" class="btn-secondary">Назад в панель</a>
                </div>
                <div class="admin-body">
                    
                    <p>Здесь будет список НКО, ожидающих модерации</p>
                    <font color="orange">{{ msg }}</font>
                    <!-- Здесь вы добавите функционал модерации -->
                    {% if nko_list %}
                    {% for nko in nko_list %}
                        <div class="nko-card">
                            <div class="nko-logo">{{ nko.icon }}</div>
                            <div class="nko-content">
                                <span class="nko-category">{{ nko.category_name }}</span>
                                <h3 class="nko-title">{{ nko.name }}</h3>
<!--                                <p class="nko-description"> {{ nko.description }}</p>-->
                                <p class="nko-address">📍 {{ nko.region_name }}, {{ nko.city_name }}, {{ nko.address }}</p>
                                <div class="nko-links">
                                    <a href="{{ nko.website }}" class="nko-link">🌐 Сайт</a>
                                    <a href="{{ nko.link_social_net }}" class="nko-link">📱 Соц. сеть</a>
                                </div>
                                <form method="POST">
                                    <button type="submit" name="action" value="true_nko_{{ nko.nko_id }}" class="btn-admin">Одобрить</button>
                                    <button type="submit" name="action" value="false_nko_{{ nko.nko_id }}" class="btn-admin">Отклонить</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-organizations">Нет организаций для отображения</p>
                {% endif %}

                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html' %}
</body>
</html>
